@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap);
:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #D6D6D6;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body,
p,
figure,
blockquote,
h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input,
select,
button,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: 0;
  font: inherit;
}

label {
  display: block;
}

::-moz-placeholder {
  font: inherit;
}

::placeholder {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: var(--bg-color);
}
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.page {
  flex: 1 1 auto;
}

.hero {
  margin-top: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  position: relative;
}
.hero .hero-decor {
  position: absolute;
  bottom: -150px;
  right: -75px;
  z-index: -1;
}
@media (max-width: 576px) {
  .hero .hero-decor {
    height: 300px;
  }
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content {
  flex: 0 0 49.2957746479%;
  padding-bottom: 160px;
}
@media (max-width: 992px) {
  .hero__content {
    padding-bottom: 20px;
  }
}
.hero__title {
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  font-weight: 600;
  line-height: 126%;
  text-transform: capitalize;
}
.hero__text {
  margin-top: 18px;
}
.hero__filter {
  height: 100px;
  max-width: 880px;
  width: 100%;
  background-color: #fff;
  margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
  position: absolute;
}
@media (max-width: 992px) {
  .hero__filter {
    position: static;
    width: 100%;
  }
}
.hero__img {
  flex: 0 0 49.2957746479%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero__img {
    display: none;
  }
}

.featured {
  padding-top: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
}
.featured__box {
  margin-top: clamp(1.875rem, 1.307rem + 2.84vw, 3.438rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  overflow: auto;
}
.featured__item {
  flex: 0 0 auto;
}
.popular {
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
  background: rgba(26, 36, 47, 0.6) url("/img/slider/slider-bg.png") center center/cover no-repeat;
}
.popular__slider {
  margin-top: 40px;
  position: relative;
}
.popular__link {
  text-align: center;
  margin-top: clamp(1.875rem, 1.602rem + 1.36vw, 2.813rem);
}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 660px) {
  .popular-slide {
    text-align: center;
  }
}
.popular-slide__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 126%;
  letter-spacing: 1%;
  text-transform: capitalize;
}
.popular-slide__labels {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 660px) {
  .popular-slide__labels {
    justify-content: center;
  }
}
.popular-slide__label {
  display: flex;
  align-items: center;
  gap: 4px;
}
.popular-slide__label span {
  color: rgb(214, 214, 214);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.advantages {
  padding-top: clamp(1.875rem, -1.534rem + 17.05vw, 11.25rem);
  padding-bottom: clamp(1.875rem, 0.398rem + 7.39vw, 5.938rem);
}
.advantages__title {
  text-align: center;
}
.advantages__body {
  margin-top: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: clamp(1.25rem, 0.568rem + 10vw, 3.125rem);
}
@media (max-width: 768px) {
  .advantages__body {
    flex-direction: column;
    align-items: center;
  }
}
.gallery {
  background: linear-gradient(270deg, rgb(26, 36, 47) 0.008%, rgba(26, 36, 47, 0) 82.969%);
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
}
.gallery__container {
  display: flex;
  align-items: center;
  gap: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
}
@media (max-width: 992px) {
  .gallery__container {
    flex-direction: column;
  }
}
.gallery__box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50.7042253521%;
}
@media (max-width: 992px) {
  .gallery__box {
    width: 100%;
  }
}
.gallery__item {
  flex: 0 0 47%;
  aspect-ratio: 7/11;
}
.gallery__item .swiper-wrapper {
  position: relative;
}
.gallery__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__info {
  position: relative;
}
@media (min-width: 992px) {
  .gallery__title {
    max-width: 520px;
  }
}
.gallery__text {
  margin-top: clamp(1rem, 0.891rem + 0.55vw, 1.375rem);
}
.gallery__link {
  margin-top: clamp(1.875rem, 1.602rem + 1.36vw, 2.813rem);
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .gallery__link {
    text-align: center;
  }
}

.begin {
  position: relative;
  padding: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem) 0;
}
.begin .begin-wave {
  position: absolute;
  bottom: -350px;
  left: -90px;
  z-index: -1;
}
.begin .begin-rect {
  position: absolute;
  top: -77px;
  right: -65px;
}
@media (max-width: 425px) {
  .begin .begin-rect {
    right: -83px;
    transform: scale(0.7);
  }
}
.begin__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1rem, 0.891rem + 0.55vw, 1.375rem);
  max-width: 1240px;
}
@media (max-width: 768px) {
  .begin__container {
    flex-direction: column;
  }
}
.begin__slogan {
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  font-weight: 600;
  line-height: 126%;
  text-transform: capitalize;
  max-width: 512px;
  z-index: 1;
}
@media (max-width: 768px) {
  .begin__slogan {
    text-align: center;
  }
}
.begin__content {
  flex: 0 0 50%;
}
.begin__link {
  margin-top: clamp(1.875rem, 1.602rem + 1.36vw, 2.813rem);
}
@media (max-width: 768px) {
  .begin__link {
    text-align: center;
  }
}

.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__logo {
  max-width: 200px;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}
.header__buttons {
  display: flex;
  gap: 5px;
}
.header__btn {
  padding: 11px 20px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
@media (max-width: 576px) {
  .header__btn {
    padding: 7px 15px;
    font-size: 14px;
  }
}

@media (any-hover: hover) {
  .login:hover {
    background-color: var(--accent-color);
  }
}
@media (max-width: 425px) {
  .login {
    display: none;
  }
}

.register {
  background-color: var(--accent-color);
}
@media (any-hover: hover) {
  .register:hover {
    background-color: transparent;
  }
}

.footer {
  background-color: #1A242F;
  padding-top: clamp(1.875rem, -0.125rem + 10vw, 8.75rem);
}
.footer__main {
  padding-bottom: clamp(1.875rem, 0.784rem + 5.45vw, 5.625rem);
}
.footer .main-footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: clamp(1.875rem, -14.494rem + 26.19vw, 8.75rem);
}
@media (max-width: 992px) {
  .footer .main-footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .footer .main-footer__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 425px) {
  .footer .main-footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .footer__block {
    grid-column: 1/5;
  }
  .footer__block:not(:first-child) {
    grid-row: 2/3;
    grid-column: auto;
  }
}
@media (max-width: 600px) {
  .footer__block:nth-child(4), .footer__block:nth-child(5) {
    grid-row: 3/4;
    grid-column: auto;
  }
}
.footer__text {
  margin: clamp(1rem, 0.891rem + 0.55vw, 1.375rem) 0;
}
@media (min-width: 992px) {
  .footer__text {
    width: 340px;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 425px) {
  .footer__socials {
    justify-content: center;
  }
}
.footer__social svg {
  fill: #555E68;
}
@media (any-hover: hover) {
  .footer__social:hover svg {
    transition: all 0.3s ease 0s;
    fill: #FFFFFF;
    transform: scale(1.2);
  }
}
.footer__copyright {
  border-top: 1px solid #303A44;
  padding: 15px 0;
}
.footer__copyright .copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__copyright .copyright__container {
    flex-direction: column;
    gap: clamp(1rem, 0.598rem + 2.01vw, 1.563rem);
    text-align: center;
  }
}

.links-footer__header {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 11px;
}
.links-footer__link {
  transition: color 0.3s ease 0s;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .links-footer__link:hover {
    color: #fff;
  }
}

@media (max-width: 992px) {
  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100vw;
    background-color: var(--accent-color);
    display: flex;
    overflow: auto;
    padding: 20px 0;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }
  .menu._active {
    left: 0;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 992px) {
  .menu__icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu__icon._active span {
    transform: scale(0);
  }
  .menu__icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.menu__body {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 992px) {
  .menu__body {
    flex-direction: column;
    margin: auto;
  }
}
.menu__link {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--text-color);
  transition: color 0.3s ease 0s;
  position: relative;
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 3px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #fff;
  }
  .menu__link:hover:before {
    content: "";
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 992px) {
  .menu__link {
    line-height: 50px;
    font-size: 30px;
  }
}

.text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
}
@media (max-width: 576px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 5px 5px 5px;
    height: auto;
  }
}
@media (max-width: 475px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.filter__block {
  cursor: pointer;
}
.filter__block:nth-child(2) {
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
}
.filter__btn {
  padding: 5px;
}
@media (min-width: 475px) and (max-width: 576px) {
  .filter__btn {
    grid-column: 1/4;
  }
}
.filter__btn button {
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  padding: 10px;
}
@media (any-hover: hover) {
  .filter__btn button:hover {
    background-color: #15786C;
  }
}

.block-filter {
  position: relative;
}
.block-filter__button {
  display: flex;
  justify-content: center;
  padding: 0 clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
  height: 100%;
  flex-direction: column;
}
.block-filter__header {
  display: flex;
  align-items: center;
}
.block-filter__type {
  padding-right: 4px;
  color: #858585;
  font-size: 16px;
}
.block-filter__icon {
  width: 10px;
  height: 7px;
  background: url("/img/icons/arrow-dropdown.svg") center no-repeat;
  transition: all 0.3s ease 0s;
}
.block-filter__icon._active {
  transform: rotate(180deg);
}
.block-filter__value {
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 126%;
  text-transform: capitalize;
}
.block-filter__dropdown {
  position: absolute;
  z-index: 5;
  top: 100%;
  right: 0;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.block-filter__dropdown._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(5px);
}
.block-filter__item {
  padding: 10px;
  transition: background-color 0.2s ease 0s;
  text-transform: capitalize;
  cursor: pointer;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #adadad;
  }
}

.link {
  display: inline-block;
  padding: 22px 42px;
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 500;
  font-size: clamp(1rem, 0.855rem + 0.73vw, 1.5rem);
  text-transform: capitalize;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover {
    background-color: #15786c;
  }
}

.title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.466rem + 2.05vw, 3rem);
  line-height: 126%;
  text-transform: capitalize;
  color: #fff;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: inline-flex;
}

.slider-buttons {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1800px) {
  .slider-buttons {
    top: -100px;
    right: 0;
    width: auto;
    gap: 28px;
  }
}

.popular-slider-prev {
  position: absolute;
  left: -130px;
}

.popular-slider-next {
  position: absolute;
  right: -130px;
  transform: rotate(180deg);
}

.popular-slider-btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: url("/img/icons/arrow-slider.svg") left 30px center no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}
@media (max-width: 1800px) {
  .popular-slider-btn {
    position: static;
  }
}
@media (max-width: 660px) {
  .popular-slider-btn {
    display: none;
  }
}

.reviews {
  position: relative;
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
}
.reviews .reviews-deco {
  position: absolute;
  top: -500px;
  left: 0;
  z-index: -1;
}
@media (max-width: 475px) {
  .reviews .reviews-deco {
    width: 300px;
  }
}
.reviews .swiper-wrapper {
  align-items: flex-start;
}
.reviews__container {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
  padding-top: clamp(6.25rem, 4.091rem + 10.8vw, 12.188rem);
}
.reviews__quotes {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--accent-color);
  font-size: clamp(12.5rem, 11.136rem + 6.82vw, 16.25rem);
  text-transform: capitalize;
}
.slider-reviews__text {
  font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
  line-height: 157%;
  text-transform: capitalize;
}
.slider-reviews__info {
  margin-top: 40px;
  max-width: clamp(9.375rem, -2.807rem + 60.91vw, 51.25rem);
}
.slider-reviews__name {
  font-size: 22px;
  font-weight: 600;
  line-height: 126%;
  text-transform: capitalize;
}
.slider-reviews__buttons {
  height: 60px;
  align-items: center;
  display: flex;
  gap: 70px;
  width: 115px;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.slider-reviews__buttons:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  background: #353F49;
  width: 1px;
}

.slider-reviews-btn.swiper-button-disabled svg {
  fill: #767F89;
}
.slider-reviews-btn svg {
  fill: #fff;
}

.slider-reviews-prev {
  transform: translateY(-3px) rotate(180deg);
}

.item-advantage {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 0 0 26.4788732394%;
}
.item-advantage__img {
  height: clamp(6.25rem, 4.432rem + 9.09vw, 11.25rem);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: clamp(1.563rem, 1.313rem + 1.25vw, 2.25rem);
}
.item-advantage__img:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.12;
}
.item-advantage__img svg {
  height: 40%;
  width: 40%;
}
.item-advantage__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 126%;
  letter-spacing: 1%;
  text-transform: capitalize;
}
.item-advantage__text {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .item-advantage__text {
    max-width: 470px;
  }
}