.featured {
	padding-top: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);

	&__container {}

	&__title {}

	&__box {
		margin-top: clamp(1.875rem, 1.307rem + 2.84vw, 3.438rem);
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		overflow: auto;
	}

	&__item {
		flex: 0 0 auto;
	}

	&__img {}
}