.gallery {
	background: linear-gradient(270.00deg, rgb(26, 36, 47) 0.008%, rgba(26, 36, 47, 0) 82.969%);
	padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;

	&__container {
		display: flex;
		align-items: center;
		gap: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);

		@media (max-width: 992px) {
			flex-direction: column;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: calc(720px/ 1420px * 100%);

		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&__item {
		flex: 0 0 47%;
		// width: 350px;
		aspect-ratio: 7/11;

		.swiper-wrapper {
			position: relative;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__info {
		position: relative;
	}

	&__title {
		@media (min-width: 992px) {
			max-width: 520px;
		}
	}

	&__text {
		margin-top: clamp(1rem, 0.891rem + 0.55vw, 1.375rem);
	}

	&__link {
		margin-top: clamp(1.875rem, 1.602rem + 1.36vw, 2.813rem);
		position: relative;
		z-index: 1;

		@media (max-width: 768px) {
			text-align: center;
		}
	}
}