.popular {
	padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
	background: #1A242F99 url('./img/slider/slider-bg.png') center center/cover no-repeat;

	&__container {}

	&__title {}

	&__slider {
		margin-top: 40px;
		position: relative;
	}

	&__btn-wrapper {
		margin-top: clamp(1.875rem, 1.602rem + 1.36vw, 2.813rem);
		text-align: center;
	}
}

.popular-slider {}

.popular-slide {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (max-width: 660px) {
		text-align: center;
	}

	&__thumb {}

	&__text {}

	&__title {
		font-size: 26px;
		font-weight: 600;
		line-height: 126%;
		letter-spacing: 1%;
		text-transform: capitalize;
	}

	&__desc {}

	&__labels {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;

		@media (max-width: 660px) {
			justify-content: center;
		}
	}

	&__label {
		display: flex;
		align-items: center;
		gap: 4px;

		span {
			color: rgb(214, 214, 214);
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 0%;
			text-transform: capitalize;
		}
	}
}