.header {
	padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	&__logo {
		max-width: 200px;
	}

	&__navigation {
		display: flex;
		align-items: center;
		gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
	}

	&__menu {}

	&__buttons {
		display: flex;
		gap: 5px;
	}

	&__btn {
		padding: 11px 20px;
		color: var(--text-color);
		font-size: 16px;
		font-weight: 500;
		text-transform: capitalize;
		border: 2px solid var(--accent-color);
		background-color: transparent;
		cursor: pointer;
		transition: background-color 0.3s ease 0s;

		@media (max-width: 576px) {
			padding: 7px 15px;
			font-size: 14px;
		}
	}
}

.login {
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--accent-color);
		}
	}

	@media (max-width: 425px) {
		display: none;
	}
}

.register {
	background-color: var(--accent-color);

	@media (any-hover: hover) {
		&:hover {
			background-color: transparent;
		}
	}
}