.swiper {
	overflow: hidden;
}

.swiper-wrapper {
	display: inline-flex;
}

/* Initial styles for the slider */
.popular__slider .swiper-wrapper {
	display: inline-flex;
	gap: 0px;
}

/* Styles for the grid layout applied when "View all" button is clicked */
.popular__slider._grid-mode .swiper-wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;

	@media (min-width: 662px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 992px) {
		grid-template-columns: repeat(3, 1fr);
	}

}

.swiper-slide {}

.slider-buttons {
	position: absolute;
	top: 30%;
	display: flex;
	justify-content: space-between;
	width: 100%;

	@media (max-width: 1800px) {
		top: -100px;
		right: 0;
		width: auto;
		gap: 28px;
	}
}

// popular section styles

.popular-slider-prev {
	position: absolute;
	left: -130px;
}

.popular-slider-next {
	position: absolute;
	right: -130px;
	transform: rotate(180deg);
}

.popular-slider-btn {
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: url('../img/icons/arrow-slider.svg') left 30px center no-repeat;
	border: 1px solid #fff;
	cursor: pointer;
	transition: background-color 0.3s ease 0s;


	@media (max-width: 1800px) {
		position: static;
	}

	@media (max-width: 660px) {
		display: none;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: #ffffff37;
		}
	}
}

// reviews block styles

.reviews {
	position: relative;
	padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);

	.reviews-deco {
		position: absolute;
		top: -500px;
		left: 0;
		z-index: -1;

		@media (max-width: 475px) {
			width: 300px;
		}
	}

	.swiper-wrapper {
		align-items: flex-start;
	}

	&__container {
		max-width: 1020px;
		margin: 0 auto;
		position: relative;
		padding-top: clamp(6.25rem, 4.091rem + 10.8vw, 12.188rem);
	}

	&__quotes {
		position: absolute;
		top: 0;
		left: 0;
		color: var(--accent-color);
		font-size: clamp(12.5rem, 11.136rem + 6.82vw, 16.25rem);
		text-transform: capitalize;
	}

	&__slider {}
}

.slider-reviews {

	&__slide {}

	&__text {
		font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
		line-height: 157%;
		text-transform: capitalize;
	}

	&__info {
		margin-top: 40px;
		max-width: clamp(9.375rem, -2.807rem + 60.91vw, 51.25rem);
	}

	&__name {
		font-size: 22px;
		font-weight: 600;
		line-height: 126%;
		text-transform: capitalize;
	}

	&__job {}

	&__buttons {
		height: 60px;
		align-items: center;
		display: flex;
		gap: 70px;
		width: 115px;
		position: absolute;
		bottom: 0;
		right: 15px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			background: #353F49;
			width: 1px;
		}
	}
}

.slider-reviews-btn {
	cursor: pointer;

	&.swiper-button-disabled {
		cursor: default;

		svg {
			fill: #767F89;
		}
	}

	svg {
		fill: #fff;
	}
}

.slider-reviews-prev {
	transform: translateY(-3px) rotate(180deg);
}

.slider-reviews-next {}