//===font===
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap);

$font_main: "Work Sans", sans-serif;
//===========

//===colors===
:root {
	--bg-color: #121B25;
	--accent-color: #1AA090;
	--text-color: #D6D6D6;
}

//============